# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
MONGO_USERNAME=username
MONGO_PASSWORD=password
MONGO_URL=database.mongodb.net
MONGO_PROTOCOL=mongodb
MONGO_DATABASE=database
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
LOG_LEVEL=
LOGGLY_TOKEN=